*{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.Cuerpo{
    width: 1500px;
    height: 1000px;
    margin: 0 auto;
}
h1{
    text-align: center;
    background-color: rgb(5, 5, 71);
}
header{
    height: 10px;
}
.valoh{
    height: 45px;
}

.Ventana{
height: 50%;
width: 60%;
margin: 0 auto;
background-color: rgb(28, 28, 55);
}
select{
    margin-left: 50px;
    font-size: 20px;
    color: black;
    
}
option{
    color: black;
}

.planes{
    float: left;
    margin-left: 25px;
    
}
.izqui{
    float: left;
}
.campos{
    
    
    display: block ;
    padding: 1px;
    display: inline-block;

}
p{
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(0, 0, 0);
     font-size: 25px;
    
}
input{
    color:black;
}
button{
    
    background-color: rgb(231, 161, 31);
    width: 152px;
    height: 55px;
    font-size: 20px;
   
    

}

